@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@* 
<!-- Author: Jimmie -->
<!-- Co Authors: --> 
*@
<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <button class="nav-link btn btn-link" @onclick="Logout">Log out</button>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
        </li>
    </NotAuthorized>
</AuthorizeView>