@page "/broker/{BrokerId:int}"
@using FribergFastigheter.Client.Components
@using FribergFastigheter.Client.Components.Broker
@using FribergFastigheter.Client.Components.Housing
@*
<!-- Author: Jimmie -->
<!-- Co Authors: -->
*@
<div class="vertical-page-container">
	@if (Broker != null && BrokerHousings != null)
	{
		<div class="d-flex flex-column gap-5">
			<BrokerDetails Broker="Broker"></BrokerDetails>
			<HousingList Housings="BrokerHousings" TruncateLongDescriptions="true"></HousingList>
		</div>
	}
</div>
