@page "/housing/{id:int}"
@using FribergFastigheter.Client.Components

<div class="vertical-page-container">
	@if (_housingViewModel != null)
	{
		<h1>@_housingViewModel.Address - @_housingViewModel.Municipality.MunicipalityName</h1>
		<HousingDetails Housing="_housingViewModel"></HousingDetails>
	}
</div>