@*
<!-- Author: Jimmie -->
<!-- Co Authors: -->
*@
@{
	string accordionElementIdString = Guid.NewGuid().ToString();
}
<div class="accordion accordion-flush w-100" id="@accordionElementIdString">
	@if (ChildContent != null)
	{
		<CascadingValue Value="accordionElementIdString">
			@ChildContent
		</CascadingValue>
	}	
</div>