/* Tiled Image Gallery - Image */
.tiled-image-gallery img {
        object-fit: cover;
}

/* Inactive links */
.inactive-link {
    cursor: default;
    pointer-events: none;    
    text-decoration: none;
}