/*===========================================================*/
/* Global Variables Example for overriding stiles in app.css */
/*===========================================================*/
/*
:root {

    The default box shadow
    --image-slider-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

    The image slider button
    --image-slider-button-color: #68767b;
    --image-slider-button-hover-background-color: #e3e3e3;

    The image slider navigational dot
    --image-slider-nav-dot-color: #e3e3e3;
    --image-slider-nav-dot-hover-color: #68767b;

     The image slider caption
    --image-slider-slide-caption-color: white;
    --image-slider-slide-caption-background-color: #68767b;
}
*/

/*==================================================*/
/* Image Slideshow                                  */
/*==================================================*/
    /* Slideshow container */
    .image-slideshow-container
{
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 0.5rem;
}

/* Slideshow container - Image */
.image-slideshow-container image
{
    max-height: 50vh;
}

/* Slideshow container - Image animation */
.image-slideshow-container .image-fade
{
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Slideshow container - Image animation - Keyframes */
@keyframes fade 
{
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Slideshow container - Image slide */
.image-slideshow-container .image-slide
{
    border-radius: 10px;
    box-shadow: var(--image-slider-box-shadow, 0px 0px 4px 0px rgba(0, 0, 0, 0.2));
}

/* Slideshow container - Image slide - Caption */
.image-slideshow-container .image-slide .image-slide-caption
{
    background-color: var(--image-slider-slide-caption-background-color, #68767b);
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: var(--image-slider-slide-caption-color, white);
}


/* Slideshow container - Image slide - Buttons */
.image-slideshow-container :is(.previous-slider-button, .next-slider-button)
{
    color: var(--image-slider-button-color, #68767b);
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -2.9rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    text-decoration: none;
    transition: 0.6s ease;
    user-select: none;
    width: auto;
}

/* Slideshow container - Image slide - Buttons - Hover */
.image-slideshow-container :is(.previous-slider-button, .next-slider-button):hover
{
   background-color: var(--image-slider-button-hover-background-color, #e3e3e3);
   color: black;
}

/* Slideshow container - Image slide - Next button */
.image-slideshow-container :is(.next-slider-button)
{
  right: 0;
}

/* Slideshow container - Navigation dots */
.image-slideshow-container .navigation-dot 
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--image-slider-nav-dot-color, #e3e3e3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Slideshow container - Navigation dots - Hover */
.image-slideshow-container :is(.navigation-dot.active, .navigation-dot:hover)
{
    background-color: var(--image-slider-nav-dot-hover-color, #68767b);
}