@* <!-- Author: Jimmie -->
<!-- Co Authors: --> *@
<div class="loader-rotating-circle"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> 