@page "/brokermember/broker/list"
@layout BrokerBackOfficeLayout
@using FribergFastigheter.Client.Components
@using FribergFastigheter.Client.Components.Broker
@using FribergFastigheter.Client.Layout.BrokerFirmMember
@using Microsoft.AspNetCore.Authorization
@*
<!-- Author: Marcus -->
<!-- Co Authors: Jimmie -->
*@
@attribute [Authorize(Policy = ApplicationPolicies.Broker)]

<div class="vertical-page-container">
    @if (_isloadingData)
    {
        <LoadingIndicator></LoadingIndicator>
    }
    else
    {
        @if (Brokers != null && BrokerFirm != null)
        {
            <BrokerList BrokerFirm="BrokerFirm" Brokers="Brokers" />
        }
    }
</div>


