@*
<!-- Author: Jimmie -->
<!-- Co Authors: -->
*@
<div class="row">
    <div class="col">
        <div class="h5 card-title text-uppercase text-muted text-align-left mb-0">@Label</div>
        <span class="h2 font-weight-bold mb-0">@Value</span>
    </div>
    <div class="col-auto d-flex flex-column justify-content-center align-items-center">
        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
            <i class="@FontAwesomeIconClass"></i>
        </div>
    </div>
</div>