@page "/brokermember/housing/list"
@using FribergFastigheter.Client.Components

<div class="vertical-page-container">
	<CreateHousing BrokerFirmId="_brokerFirmId" BrokerId="_createHousingBrokerId" OnHousingCreated="OnHousingCreated"></CreateHousing>
	<HousingList @ref="_housingListComponent" Housings="_housings"></HousingList>
</div>

