@page "/brokermember/housing/list"
@layout BrokerBackOfficeLayout
@using FribergFastigheter.Client.Components
@using FribergFastigheter.Client.Components.Housing
@using FribergFastigheter.Client.Layout.BrokerFirmMember
@using FribergFastigheter.Shared.Constants
@using Microsoft.AspNetCore.Authorization
@*
<!-- Author: Jimmie -->
<!-- Co Authors: -->
*@
@attribute [Authorize(Policy = ApplicationPolicies.Broker)]
<div class="vertical-page-container">
	@if (_isloadingData)
	{
		<LoadingIndicator></LoadingIndicator>
	}
	else
	{
		<HousingList Housings="_housings" TruncateLongDescriptions="true" EnableEditingControls="true"></HousingList>
	}	
</div>
