@page "/brokermember/housing/list"
@using FribergFastigheter.Client.Components
@*
    <!-- Author: Jimmie -->
<!-- Co Authors: -->
*@
<div class="vertical-page-container">
	<HousingList Housings="_housings"></HousingList>
</div>
